.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button.Prev {
  left: 0;
}

button.Next {
  right: 0;
}

button {
  background-color: #14991499;
}

button:hover {
  background-color: #99ff99cc;
}